{% extends "layouts/master.html" %}

{% block content %}

        <div id="mdiv"><div class="gradient">&nbsp; <h1>Rates per minute</h1> </div>

          <table style="margin-top:5px;margin-bottom:10px;" id="mt" class="mtc" width="100%" cellspacing="1" cellpadding="1" border="0">
            <colgroup> <col width="200px"> <col> </colgroup>
            <tbody>
              <th></th>
              {% for min in range_mins %}
              <th> {{ min }} </th>
              {% endfor %}

              {% for day, hour, rate in listRates %}
                <tr class="thc">
                  <td><b>{{ hour }}</b></td>
                  {% for r in rate %}
                  <td> <a href="{% url 'contestAnalyzer:log' %}?filter=page:1,date:{{day}},time:{{hour}}{{r.0}}">{{ r.1 }}</a></td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>


        </div>

{% endblock %}
