{% extends "layouts/master.html" %}

{% block content %}

<!-- Pagination -->
        <div class="container-fluid text-center">

          <ul class="pagination">

              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:1,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">&#60;&#60;</a></li>

            {% if page == 1 %}
              <li class="disabled"><a href="#">&#60;</a></li>
            {% else %}
            <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{page|add:-1}},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">&#60;</a></li>
            {% endif %}

            {% if page == 1 %}
              <li class="active"><a href="{% url 'contestAnalyzer:log' %}/?filter=page:1,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">1</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:2,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">2</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:3,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">3</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:4,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">4</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:5,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">5</a></li>

            {% elif page == 2 %}
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:1,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">1</a></li>
              <li class="active"><a href="{% url 'contestAnalyzer:log' %}/?filter=page:2,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">2</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:3,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">3</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:4,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">4</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:5,{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">5</a></li>

            {% elif page == total_pages|add:-1 %}
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages|add:-4 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages|add:-4 }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages|add:-3 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages|add:-3 }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages|add:-2 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages|add:-2 }}</a></li>
              <li class="active"><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages|add:-1 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages|add:-1 }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages }}</a></li>

            {% elif page == total_pages %}
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages|add:-4 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages|add:-4 }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages|add:-3 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages|add:-3 }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages|add:-2 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages|add:-2 }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages|add:-1 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages|add:-1 }}</a></li>
              <li class="active"><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ total_pages }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ total_pages }}</a></li>

            {% else %}
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ page|add:-2 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ page|add:-2 }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ page|add:-1 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ page|add:-1 }}</a></li>
              <li class="active"><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ page }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ page }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ page|add:1 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ page|add:1 }}</a></li>
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{ page|add:2 }},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">{{ page|add:2 }}</a></li>
            {% endif %}

            {% if page == total_pages %}
              <li class="disabled"><a href="#">&#62;</a></li>
            {% else %}
              <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{page|add:1}},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">&#62;</a></li>
            {% endif %}

            <li><a href="{% url 'contestAnalyzer:log' %}/?filter=page:{{total_pages}},{{ cumulated_info }}&unique={{ cumulated_unique }}&unique_band={{cumulated_unique_band}}">&#62;&#62;</a></li>

          </ul>
        </div>

<!-- Table -->
        <div class="container-fluid text-left">
          <h1>Log</h1>
          <table class="table table-hover table-responsive">
            <thead>
              <th>QSO#</th><th>Band</th><th>Freq.</th><th>Date</th><th>Time</th><th>Callsign</th><th>Cont.</th><th>Country</th><th>CQ</th><th>Points</th>
            </thead>
            <tbody>
              {% for qso in log_info %}
                <tr class="thc">
                  <td>{{ qso.0 }}</td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,band:{{ qso.1|floatformat }}">{{ qso.1|floatformat }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,freq:{{ qso.2 }}">{{ qso.2 }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,date:{{ qso.3 }}">{{ qso.3 }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,time:">{{ qso.4 }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,call:{{ qso.5 }}">{{ qso.5 }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,cont:{{ qso.6 }}">{{ qso.6|cut:"continent" }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,dxcc:{{ qso.7 }}">{{ qso.7 }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,cq:{{ qso.8 }}">{{ qso.8 }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,points:{{ qso.9 }}">{{ qso.9 }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

{% endblock %}
