{% extends "layouts/master.html" %}

{% block content %}

        <div class="container-fluid text-left">
          <h1>Rates per minute</h1>
          <table class="table table-hover table-responsive table-condensed table-scrollable">
            <thead>
              <th></th>
              {% for min in range_mins %}
              <th> {{ min }} </th>
              {% endfor %}
            </thead>

            <tbody>
              {% for day, hour, rate in listRates %}
                <tr class="thc">
                  <td><b>{{ hour }}</b></td>
                  {% for r in rate %}
                  <td> <a href="{% url 'contestAnalyzer:log' %}?filter=page:1,date:{{day}},time:{{hour}}{{r.0}}">{{ r.1 }}</a></td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>


        </div>

{% endblock %}
