{% extends "layouts/master.html" %}

{% block content %}

        <div id="mdiv"><div class="gradient">&nbsp; <h1>Summary</h1> </div>

          <table style="margin-top:5px;margin-bottom:10px;" id="mt" class="mtc" width="100%" cellspacing="1" cellpadding="1" border="0">
            <colgroup> <col width="200px"> <col> </colgroup>
            <tbody>
              <th>Band</th><th>QSOs</th><th>Zones</th><th>DXCC</th><th>Points</th><th>Points/QSO</th>
              {% for band in summary_info %}
                <tr class="thc">
                  <td>{{ band.0 }}</td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,band:{{ band.0|floatformat }}">{{ band.1 }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,band:{{ band.0|floatformat }}&unique=cq">{{ band.3 }}</a></td>
                  <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1,band:{{ band.0|floatformat }}&unique=dxcc">{{ band.2 }}</a></td>
                  <td>{{ band.4 }}</td>
                  <td>{{ band.5|floatformat:2 }}</td>
                </tr>
              {% endfor %}
              <th></th><th></th><th></th><th></th><th></th><th></th><th>Score</th>
                <tr class="thc">
                  <td><b>Total</b></td>
                  {% for band in summary_info_total %}
                      <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1">{{ band.1 }}</a></td>
                      <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1&unique_band=cq">{{ band.3 }}</a></td>
                      <td><a href="{% url 'contestAnalyzer:log' %}?filter=page:1&unique_band=dxcc">{{ band.2 }}</a></td>
                      <td>{{ band.4 }}</td>
                      <td>{{ band.5|floatformat:2 }}</td>
                      <td>{{ band.6 }}</td>
                  {% endfor %}
                </tr>
            </tbody>
          </table>
        </div>

{% endblock %}
