{% extends "layouts/master.html" %}

{% block content %}

        <div id="mdiv"><div class="gradient">&nbsp; <h1>Main</h1> </div>
          <table style="margin-top:5px;margin-bottom:10px;" id="mt" class="mtc" width="100%" cellspacing="1" cellpadding="1" border="0">
            <colgroup> <col width="200px"> <col> </colgroup>
            <tbody>
              <tr class="thc">
                <th>Parameter</th><th>Value</th>
              </tr>
              <tr class="td1">
                <td>Callsign</td><td><b><a rel="nofollow" title="{{contest.callsign}} at QRZ.COM" href="http://www.qrz.com/db/{{contest.callsign}}">{{contest.callsign}}</a></b></td>
              <tr class="td1">
                <td>Contest</td>{{contest.contest}}<td></td>
              </tr>
              <tr class="td1">
                <td>Category</td><td>{{contest.category}}</td>
              </tr>
              <tr class="td1">
                <td>Location</td><td>{{contest.location}}</td>
              </tr>
              <tr class="td1">
                <td>Operators</td><td>
                  {% for op in contest.operators %}
                    <a rel="nofollow" title="{{op}} at QRZ.COM" href="http://www.qrz.com/db/{{op}}">{{op}}</a>
                  {% endfor %}
                </td>
              </tr>
              <tr class="td1">
                <td>Club</td><td>{{contest.club}}</td>
              </tr>
              <tr class="td1">
                <td>Year</td><td>{{contest.year}}</td>
              </tr>
            </tbody>
          </table>
        </div>

{% endblock %}
