{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Contest analyzer online</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <meta http-equiv="refresh" content="1; URL={% url 'contestAnalyzer:process' %}">
  </head>

  <body>


  </body>

</html>


{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Contest analyzer online</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'contestAnalyzer:index' %}">Contest analyzer online</a>
        </div>
      </div>
    </nav>


    <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-sm-3 text-center">
        </div>
        <div class="col-sm-6 text-center">

          <h1> Processing... </h1>
          <img src="http://31.media.tumblr.com/0b6b34af5d8f6fdf399e851739394004/tumblr_nq2z2pqPCE1twrbr9o1_r1_500.gif" alt="processing_image" height="350" width="350">

        </div>
      </div>
    </div>

    </div>

    <footer style="text-align: center">
      &copy; created by EA3ALZ
    </footer>

  </body>

</html>
