{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Contest analyzer online</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'contestAnalyzer:index' %}">Contest analyzer online</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Bleble</a></li>
            <li><a href="#">Blibli</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="container-fluid text-left">
      <div class="row content">
        <div class="col-sm-2 sidenav">

          <table class="ta1" cellspacing="0" cellpadding="top">
            <tbody>
              <tr>

                <td class="no-print" style="width:17%" valign="top">
                  <div style="width:220px;" class="mdv">
                    <ol style="margin-top:0px;margin-bottom:0px;margin-left:0px">
                      <li class="mli"><a href="{% url 'contestAnalyzer:mainPage' %}">Main</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:summary' %}">Summary</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:log' %}">Log</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:rates' %}">Rates</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:ratepermin' %}">Rates per minute</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band">QSOs vs time - band</a></li>
                      <ol style="margin-top:0px;margin-bottom:0px;margin-left:0px">
                        <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentAF">Africa</a></li>
                        <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentAS">Asia</a></li>
                        <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentEU">Europe</a></li>
                        <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentNA">North America</a></li>
                        <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentOC">Oceania</a></li>
                        <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentSA">South America</a></li>
                      </ol>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__continent">QSOs vs time - continent</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__stationtype">QSOs vs time - station type</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_fraction_stationtype">Station type fraction</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_time_vs_band_vs_continent">time vs band vs continent</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_ratio_qsos_min;options=all">Ratio of QSOs per minute</a></li>
                      <ol style="margin-top:0px;margin-bottom:0px;margin-left:0px">
                        <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_ratio_qsos_min;options=running">Running</a></li>
                        <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_ratio_qsos_min;options=inband">Inband</a></li>
                      </ol>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_mults_vs_qsos">QSOs vs multipliers</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_freq_vs_date">Frequency vs time</a></li>
                      <li class="mli"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_lenghtcallmorse;options=35WPM">Morse call length</a></li>
                    </ol>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-8 text-left">

          <!--This will be a dynamic block-->
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>


    <footer style="text-align: center">
      <p> &copy; created by EA3ALZ </p>
    </footer>

  </body>

</html>
