<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Contest analyzer online</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Contest analyzer online</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <!--This will be a dynamic block-->
        {% block content %}
        {% endblock %}
    </div>

    <footer style="text-align: center">
        &copy; 2017 Contest analyzer online
    </footer>
</body>
</html>
