{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Contest analyzer online</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      #map {
        height: 500px;
        width: 100%;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'contestAnalyzer:index' %}">Contest analyzer online</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="{%if nbar == 'main' %}active{%endif%}"><a href="{% url 'contestAnalyzer:mainPage' %}">Main</a></li>
            <li class="{%if nbar == 'summary' %}active{%endif%}"><a href="{% url 'contestAnalyzer:summary' %}">Summary</a></li>
            <li class="{%if nbar == 'log' %}active{%endif%}"><a href="{% url 'contestAnalyzer:log' %}">Log</a></li>
            <li class="dropdown{%if nbar == 'rates' %} active{%endif%}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Rate <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'contestAnalyzer:rates' %}">Maximum rates</a></li>
                <li><a href="{% url 'contestAnalyzer:ratepermin' %}">Rates for each minute</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_ratio_qsos_min;options=all">QSOs per minute rate</a></li>
              </ul>
            </li>
            <li class="dropdown{%if nbar == 'qsoshour' %} active{%endif%}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">QSOs per hour <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band">Band</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__continent">Continent</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__stationtype">Station type</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_time_vs_band_vs_continent">Band and continent</a></li>
              </ul>
            </li>
            <li class="dropdown{%if nbar == 'evolution' %} active{%endif%}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Evolution <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_freq_vs_date">TX frequency evolution</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_mults_vs_qsos">Multipliers evolution per QSO</a></li>
              </ul>
            </li>
            <li class="dropdown{%if nbar == 'miscellania' %} active{%endif%}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Miscellania <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_fraction_stationtype">Station type fraction</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_heading">Beam direction</a></li>
              </ul>
            </li>
            <li class="{%if nbar == 'morse' %}active{%endif%}"><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_lenghtcallmorse;options=35WPM">CW</a></li>
            <li class="{%if nbar == 'maps' %}active{%endif%}"><a href="{% url 'contestAnalyzer:maps' %}">Map</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'contestAnalyzer:guestbook' %}">Guest book</a></li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="container-fluid text-left">
      <div class="row content">
        <div class="col-sm-2 sidenav">
          <ul class="list-unstyled">
              {% if latbar == 'qsos_vs_time__band' %}
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band">All continents</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentAF">Africa</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentAS">Asia</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentEU">Europe</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentNA">North America</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentOC">Oceania</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_qsos_vs_time__band;options=continentSA">South America</a></li>
              {% elif latbar == 'ratio_qsos_min' %}
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_ratio_qsos_min">All</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_ratio_qsos_min;options=running">Running</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_ratio_qsos_min;options=inband">Inband</a></li>
              {% elif latbar == 'heading' %}
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_heading">All</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_heading;options=band10">10 m</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_heading;options=band15">15 m</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_heading;options=band20">20 m</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_heading;options=band40">40 m</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_heading;options=band80">80 m</a></li>
                <li><a href="{% url 'contestAnalyzer:plots' %}?chart=plot_heading;options=band160">160 m</a></li>
              {% endif %}
          </ul>
        </div>
        <div class="col-sm-8 text-left">

          <!--This will be a dynamic block-->
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <footer class="fixed-bottom" style="text-align: center">
      <p> &copy; created by EA3ALZ </p>
    </footer>

  </body>

</html>
